* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: white;
}

#details {
  border: 2px solid black;
  margin: 10px;
}
#account {
  border: 2px solid black;
  margin: 10px;
}

h1 {
  margin-left: 250px;
  height: 20px;
  padding: 30px;
  color: #00022e;
}

div {
  margin: 10px;
  color: #00022e;
}
label {
  font-size: 27px;
}

#one {
  background-color: rgb(208, 213, 219);
  width: 90px;
  height: 20px;
  border: none;
  color: black;
  border-radius: 2px;
}
#two {
  background-color: rgb(208, 213, 219);
  width: 90px;
  border: none;
  color: black;
  border-radius: 2px;
}

#three {
  background-color: rgb(208, 213, 219);
  margin-left: 25px;
  width: 90px;
  border: none;
  color: black;
  border-radius: 2px;
}
input {
  height: 29px;
  font-size: 27px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: rgb(207, 219, 233);
}

footer {
  margin-top: 20px;
  font-size: 20px;
  color: rgb(86, 39, 39);
}
